*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black ;
    font-family: "Open Sans";
    width: 100vw;
    height: 100vh;
    
}

.social-media{
    position:absolute;
    bottom:10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height:75px;
    order:2;
    
}

.flex-container{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


.informationbox1{

    
}

i {
    position: relative;
    color: white;
    font-size: 20px;
}

i::after {
    position: absolute;
    content: "";
    border: 2px solid white;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    left: -14px;
    bottom: -11px;
}

i:hover {
    color: var(--magenta);
}

i:hover::after {
    border-color: var(--magenta);
}






.hearth{
    width: 600px;
    
}

.bird{
    width:40px;
    height: 40px;

}

.flower{
    width:40px;
    height: 40px;
   
}

.butterfly1{
    width:40px;
    height: 40px;

}

.butterfly2{
    width:40px;
    height: 40px;

}

#position1{
    position:absolute;
    top:60px;
    left:63px;
    width:45px;
    
}

#position2{
    position: absolute;
    top: 128px;
    right: 81px;
    width: 47px;
}

#position3{
    position: absolute;
    top:175px;
    right:160px;
    width:47px
}

#position4{
    position: absolute;
    top:24px;
    right:122px;
    width:50px;
}

#position5{
    position: absolute;
    top:88px;
    right:246px;

}

#position6{
    position: absolute;
    top:300px;
    right:228px;

}

#position7{
    position: absolute;
    top:209px;
    right:229px;
    width:35px;
    
}

#position8{
    position: absolute;
    top:370px;
    right:105px;
    
}

@media screen and (min-width: 376px){

    .hearth{
       min-width:1000px;
    
    }
 
    .flex-container{
       min-width: fit-content;
    
    }

    #position1{
        position: absolute;
        top: 117px;
        left: 312px;
        width:45px;

    }

    #position2{
        position: absolute;
        top: 220px;
        right: 328px;
        width:55px;
        }

    #position3{
        position: absolute;
        top: 306px;
        right: 450px;
        width:60px;
        
        }

    #position4{
        position: absolute;
        top: 52px;
        right: 390px;
        width:70px;
         }

    #position5{
        position: absolute;
        top: 154px;
        right: 617px;
            
        }

    #position6{
        position: absolute;
        top: 517px;
        right: 584px;
            
        }

    #position7{
        position: absolute;
        top: 360px;
        right: 589px;
                
        }

    #position8{
        position: absolute;
        top: 671px;
        right: 415px;
                    
        }
}