*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black ;
    font-family: "Open Sans";
    width: 100vw;
    height: 100vh;
    
}

.social-media{
    position:absolute;
    bottom:20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    width: 300px;
    height:75px;
    order:2;
    
}

i {
    position: relative;
    color: white;
    font-size: 20px;
}

i::after {
    position: absolute;
    content: "";
    border: 2px solid white;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    left: -14px;
    bottom: -11px;
}

i:hover {
    color: var(--magenta);
}

i:hover::after {
    border-color: var(--magenta);
}

.flex-container{
    width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.hearth{
    width: 600px;
    
}

.bird{
    width:40px;
    height: 40px;

}

.flower{
    width:40px;
    height: 40px;

}

.butterfly1{
    width:40px;
    height: 40px;

}

.butterfly2{
    width:40px;
    height: 40px;

}

#position1{
    position:absolute;
    top:53px;
    left:59px

}

#position2{
    position: absolute;
    top:194px;
    right:106px

}

#position3{
    position: absolute;
    top:204px;
    right:164px

}

#position4{
    position: absolute;
    top:100px;
    right:100px

}